<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!-- 服务提供方 名称-->
    <dubbo:application name="demo-provider"/>
    
    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry address="zookeeper://localhost:8080"/>
    
    <!-- 暴露的服务端口 -->
    <dubbo:protocol name="dubbo" port="20880"/>
    
    <!-- 暴露的服务（接口） -->
    <dubbo:service interface="own.test.service.TestService" ref="testService"/>
    
    <!-- 服务的实现 -->
    <bean id="testService" class="own.test.service.impl.TestServiceImpl"/>
</beans>